{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game list</h1>

    <table>
        <thead>
            <tr>
                <th>Pretender</th>
                <th>Plangeneral</th>
                <th>Map</th>
                <th>Planresearch</th>
                <th>Winner</th>
                <th>Serverlink</th>
                <th>Thread</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id }) }}">{{ game.pretender }}</a></td>
                <td>{{ game.planGeneral }}</td>
                <td>{{ game.map }}</td>
                <td>{{ game.planResearch }}</td>
                <td>{{ game.winner }}</td>
                <td>{{ game.serverLink }}</td>
                <td>{{ game.thread }}</td>
                <td>{{ game.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
