{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Edit turn {{ turn.number }} of <a href="{{ path('game_show', {id: turn.game.id}) }}">{{ turn.game }} game</a></h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="post-shared">
            <label>Shared link:</label>
            <br/>

            <input type="text" disabled="disabled" value="{{url('turn_shared_show', {'shareLink': turn.shareLink}) }}"/>
            {% if turn.shareLink %}
            <a href="">Delete</a>
            <a href="">Regenerate</a>
            {% else %}
            <a href="">Generate</a>
            {% endif %}
        </div>
        <input type="submit" value="Submit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{{ tinymce_init({'theme': {'simple': {'menubar': false, 'statusbar': false} }, width: "300", }) }}
{% endblock %}
