{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Turn creation of {{ turn.game }} game</h1>

    Game {{ turn.game }}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('game_show', {id: turn.game.id}) }}">Back to game</a>
        </li>
    </ul>
{% endblock %}
