{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Turn {{ turn.number }} of {{ turn.game }} game</h1>

    <table>
        <tbody>
            <tr>
                <th>Results of previous turn</th>
                <td>{{ turn.result }}</td>
            </tr>
            <tr>
                <th>New ideas</th>
                <td>{{ turn.idea }}</td>
            </tr>
            <tr>
                <th>Plan for game on current stage</th>
                <td>{{ turn.plan }}</td>
            </tr>
            <tr>
                <th>Actions of this turn</th>
                <td>{{ turn.action }}</td>
            </tr>
            <tr>
                <th>Privacy</th>
                <td>{% if turn.privacy == 0 %}None{% else %}Link{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('game_show', { 'id': turn.game.id }) }}">Back to game</a>
        </li>
        <li>
            <a href="{{ path('turn_edit', { 'id': turn.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
