<div style="text-align: center">
    {% if app.user.games|length %}
    <div>List of my games</div>
    <div style="text-align: center">
        <table class="myTableStyle">
            <thead>
            <tr>
                <td>Era</td>
                <td>Nation</td>
                <td>Map</td>
                <td>Turns</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for game in app.user.games %}
            <tr>
                <td>{{ game.nation.age }}</td>
                <td>{{ game.nation.name }}</td>
                <td>{{ game.map }}</td>
                <td>{{ game.turns|length }}</td>
                <td>
                    <a href="{{ url('turn_new', {'id': game.id}) }}">Add turn</a>
                    &nbsp;
                    <a href="{{ url('game_show', {'id': game.id}) }}">View</a>
                    &nbsp;
                    <a href="{{ url('game_edit', {'id': game.id}) }}">Edit</a>
                    &nbsp;
                    <a href="{{ url('game_delete', {'id': game.id}) }}" onclick="return confirm('Do you really want to delete game?');">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    You have no games. 
    {% endif %}
</div>

<div class="center"><a href="{{ url('game_new') }}"><button>Add new game</button></a></div>
