{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}/css/tooltipster.css">
{#<link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}/css/tooltipster-noir.css">#}
{#<link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}/css/tooltipster-shadow.css">#}
<link rel="stylesheet" href="{{app.request.getSchemeAndHttpHost()}}/css/tooltipster-light.css">

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="{{app.request.getSchemeAndHttpHost()}}/js/jquery.tooltipster.min.js"></script>

<h1 title="tooltip" class="tooltip">New game</h1>
{{ form_start(form) }}
<div>{{ form_label(form.map) }}{{ form_widget(form.map) }}</div>
<div>{{ form_label(form.age) }}{{ form_widget(form.age) }}</div>
<div>{{ form_label(form.nation) }}{{ form_widget(form.nation) }}</div>
<div>{{ form_label(form.pretender) }}{{ form_widget(form.pretender) }}</div>
<div>{{ form_label(form.thread) }}{{ form_widget(form.thread) }}</div>
<div>{{ form_label(form.serverLink) }}{{ form_widget(form.serverLink) }}</div>

<div>{{ form_label(form.planGeneral) }}
    <label class="tooltip"  title="Expand by Centaur Warriors.<br/>
Utilize seducing dryads.<br/>
Run into Centaur Hierophant thugs.<br/>
Capture some poor neighbor capital.<br/>
Snowball and eventually conquer everyone in middle game: in late game we are weak.">(sample)</label> {{ form_widget(form.planGeneral) }}</div>
<div>{{ form_label(form.planResearch) }}

    <label class="tooltip"  title="
    Alteration3 for Ironskin.<br/>
    Construction4 for frostbrands and vine shields.<br/>
    Alteration5 for Mother Oak.<br/>
    Thaumaturgy5 for Growing Fury.<br/>
    Blood1 for Reinvigoration.<br/>
    High Alteration for Mass Protection.<br/>
    High Enchantment for Mass Regeneration.<br/>
    High Conjuration to diversify magic">(sample)</label>


    {{ form_widget(form.planResearch) }}</div>
{{ form_widget(form) }}
<input type="submit" value="Create"/>
{{ form_end(form) }}

<ul>
    <li>
        <a href="{{ path('homepage') }}">Back to the list</a>
    </li>
</ul>

{% for age, nationsAge in nations %}
{% for nation in nationsAge %}
<span id="nid_{{ nation.id }}" class="nage_{{ nation.age }}">{{ nation.name }}</span>
{% endfor %}
{% endfor %}

{{ tinymce_init({'theme': {'simple': {'menubar': false, 'statusbar': false} }, width: "300", }) }}

{% endblock %}
