{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Game</h1>

    <table>
        <tbody>
            <tr>
                <th>Map</th>
                <td>{{ game.map }}</td>
            </tr>
            <tr>
                <th>Pretender</th>
                <td>{{ game.pretender }}</td>
            </tr>
            <tr>
                <th>Plangeneral</th>
                <td>{{ game.planGeneral }}</td>
            </tr>
            {% if game.planResearch %}
            <tr>
                <th>Planresearch</th>
                <td>{{ game.planResearch }}</td>
            </tr>
            {% endif %}
            {% if game.winner %}
            <tr>
                <th>Winner</th>
                <td>{{ game.winner }}</td>
            </tr>
            {% endif %}
            {% if game.serverLink %}
            <tr>
                <th>Serverlink</th>
                <td>{{ game.serverLink }}</td>
            </tr>
            {% endif %}
            {% if game.thread %}
            <tr>
                <th>Thread</th>
                <td>{{ game.thread }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {% include 'AppBundle:turn:index.html.twig' with {'turns': game.turns, 'game': game} %}
{% endblock %}
