{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{{ game.nation }} {{ game.nation.age }} Age game</h1>

    <table>
        <tbody>
            <tr>
                <th>Map</th>
                <td>{{ game.map }}</td>
            </tr>
            {% if game.pretender %}
            <tr>
                <th>Pretender</th>
                <td>{{ game.pretender }}</td>
            </tr>
            {% endif %}
            {% if game.planGeneral %}
            <tr>
                <th>General Plan</th>
                <td>{{ game.planGeneral|raw }}</td>
            </tr>
            {% endif %}
            {% if game.planResearch %}
            <tr>
                <th>Plan of Research</th>
                <td>{{ game.planResearch|raw }}</td>
            </tr>
            {% endif %}
            {% if game.winner %}
            <tr>
                <th>Winner</th>
                <td>{{ game.winner }}</td>
            </tr>
            {% endif %}
            {% if game.serverLink %}
            <tr>
                <th>Server link</th>
                <td>{{ game.serverLink }}</td>
            </tr>
            {% endif %}
            {% if game.thread %}
            <tr>
                <th>Forum thread</th>
                <td>{{ game.thread }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {% include 'AppBundle:turn:index.html.twig' with {'turns': game.turns, 'game': game} %}
{% endblock %}
