{% extends 'base.html.twig' %}

{% block body %}
    <h1>Turn list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for turn in turns %}
            <tr>
                <td><a href="{{ path('turn_show', { 'id': turn.id }) }}">{{ turn.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('turn_show', { 'id': turn.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('turn_edit', { 'id': turn.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('turn_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
